.verticalCardContainer {
    max-width: 80rem;
    width: 100%;
    border: 1px dashed red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}